---
---
<div class="bg-dark"

<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <h1 class="d-flex align-items-center text-center font-weight-bold">Bienvenue sur nos ressources !</h1>
        <h2 class="h4 fw-light">Bienvenue dans la communauté apprenante de Class'Code ! 
            Sur cette partie, vous pouvez consulter nos ressources.</h2>
    </div>
</div>
</div>
<div class="container mb-3">
    <div class="row">
<h2 class="col">Nos parcours :</h2>
<a href="paths.html" type="button" class="btn btn-info col-2 d-flex align-self-center justify-content-center">Voir tout les parcours</a>
</div>
</div>
<div class="container mb-4">
{% include paths.html %}
</div>

<div class="container mb-3">
    <div class="row">
<h2 class="col">Nos ressources :</h2>
<a href="resources.html" type="button" class="btn btn-info col-2 d-flex align-self-center justify-content-center">Voir toutes les ressources</a>
</div>
</div>
<div class="container mb-4">
{% include resources.html %}
</div>


<blockquote class="blockquote text-center fw-light">Class'Code: Se former pour initier les jeunes à la pensée informatique</blockquote>
</body>