---
---

<nav aria-label="breadcrumb mt-6">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Acceuil</li>
    </ol>
  </nav>
<div class="container">
    <div class="row mb-5">
        <h1 class="text-center">Bienvenue sur nos ressources !</h1>
        <h2 class="h4 fw-light">Bienvenue dans la communauté apprenante de Class'Code ! 
            Sur cette partie, vous pouvez consulter nos ressources.</h2>
    </div>
</div>
<div class="container mb-3">
    <div class="row">
<h2 class="col">Nos parcours :</h2>
<a href="paths.html" type="button" class="btn btn-info col-2 d-flex align-self-center justify-content-center">Voir tout les parcours</a>
</div>
</div>
<div class="container mb-4">
{% for i in (1..3) %}
{% include paths.html path=site.paths[i] %}
{% endfor %}
</div>


<div class="container mb-3">
    <div class="row">
<h2 class="col">Nos ressources :</h2>
<a href="paths.html" type="button" class="btn btn-info col-2 d-flex align-self-center justify-content-center">Voir toutes les ressources</a>
</div>
</div>
<div class="container mb-4">
{% include resource.html %}
</div>


<blockquote class="blockquote text-center fw-light">Class'Code: Se former pour initier les jeunes à la pensée informatique</blockquote>