<footer class="navbar-expand-lg bg-dark mt-5">
    <div class="container">

        <div class="collapse navbar-collapse justify-content-start col-12">
            <ul class="navbar-nav col-12 my-3">
                <li class="nav-item col-3 d-flex justify-content-center">
                    <ul class="list-group">
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-white h6"
                                href="/resources.html">Ressources à la carte</a>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-white h6"
                                href="/paths">Parcours de formation</a></li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-white h6" href="">Près
                                de chez vous</a></li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-white h6" href="">Le
                                projet</a></li>
                    </ul>
                </li>

                <li class="nav-item col-2 d-flex justify-content-center">

                    <ul class="list-group">
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-white h6">Les
                                réseaux</a></li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-muted"
                                href="https://www.facebook.com/formationclasscode/">Facebook</a></li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-muted" href="">Près de
                                chez vous</a></li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-muted" href="">Le
                                projet</a></li>
                    </ul>
                </li>

                <li class="nav-item col-3 d-flex justify-content-center">

                    <ul class="list-group">
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-white h6">À propos</a>
                        </li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-muted" href="">FAQ</a>
                        </li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-muted" href="">Qui
                                sommes-nous ?</a></li>
                        <li class="list-group-item border-0 p-0 bg-dark"><a class="nav-link text-muted"
                                href="">Contactez-nous</a></li>
                    </ul>
                </li>
                <div class="d-block justify-content-column col-4 my-4">
                    <div class="col d-flex justify-content-center align-items-end mb-4">
                        <img width="18%" src="/images/previews/i-avenir.png">
                    </div>
                    <div class="col d-flex justify-content-center align-items-end mb-4">
                        <img width="35%" height="10%" src="/images/previews/classcode-blanc.png">
                    </div>
                </div>
            </ul>


        </div>
    </div>
</footer>