<nav class="navbar navbar-expand-lg navbar-light" aria-label="Navbar">
    <div class="container">
      <img class="logo_classcode" src="/images/previews/classcode.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbars">
        <div class="navbar-d">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mx-4">
            <a class="nav-link" aria-current="page" href="/resources.html">Ressources à la carte</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/paths">Parcours de formation</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/">Près de chez vous</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/">Le projet</a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>
