.card.card-item {
    border-radius: 14px;
    border: 0.5px solid #4b4b4b;
    background-color: $body-background-color;
    overflow: hidden;
    margin-bottom: 1.5rem;

    .card-image-box {
        height: 170px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
  
    .card-action {
        text-align: center;
    
        .btn.btn-primary {
            width: 70%;
        }
    }

    .card-infos {
        display: flex;
        justify-content: space-between;

        .card-categories {
            display: flex;
            
            .card-category {
                padding: 0 8px;
                border-radius: 15px;
                margin-right: 0.5rem;
                border: 1px solid #22B8BF;
            }
        }

        .card-difficulty {
            p {
                margin: 0;
            }
        }
    }
}