#btnSommaire{
    position: fixed;
    top: 10vh;
    right: 0;
    width: 180px;
}
#btnSommaire svg{
    margin-right: 10px;
}
#bgNoir{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: none;
}
#closeSommaire{
    display: none;
}
#ContainerSommaire{
    display: none;
    background-color: white;
    width: 500px;
    height: calc(90vh - 38px);
    position: fixed;
    right: 0;
    top: calc(10vh + 38px);
    overflow-y: scroll;
    z-index: 10;
    border-top-left-radius: 5px;
}