<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="row">
        <div class="col-sm">
            <h1>Codez votre portrait - Mode d’emploi de ‘activité</h1>
            <div class="row">
                <span class="badge badge-secondary">#Scratch</span>
                <span class="badge badge-secondary">#ProgrammationCréative</span>
            </div>
        </div>
        <a href="{{ item.url }}"><button>Voir le parcours</button></a>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Objectifs</h2>
            <ul>
                <li>Être capable d’ajouter des lutins et des arrières plans</li>
                <li>Utiliser des blocs d’initialisations, de mouvements, et d’apparences</li>
            </ul>
            <h2>Matériel nécessaire</h2>
            <ul>
                <li>Au moins 1 ordinateur pour 2 enfants, muni d’une connection internet et du logiciel Scratch</li>
                <li>De quoi écrire (sur papier)</li>
                <li>Un vidéo-projecteur (si possible)</li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>Informations utiles :</h3>
            <ul>
                <li>Outil utilisé : <span>Scratch</span></li>
                <li>Age minimum : <span>8 ans </span></li>
                <li>Durée : <span>1h +</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <embed src=http://monsite.fr/monfichier.pdf type='application/pdf'/>
        </div>
        <div class="col-sm">
            <h3>Les autres cours liés</h3>
            <a href=""><img src="" alt=""></a>
            <a href="">Programmez votre portrait</a>
            <a href=""><img src="" alt=""></a>
            <a href="">Partagez votre programme</a>
            <a href=""><img src="" alt=""></a>
            <a href="">Prenez Scratch en main</a>
            <a href=""><button type="button" class="btn btn-dark">Accéder au catalogue</button></a>
        </div>
    </div>
</div>