---
layout: default
---

{% assign paths = page.url | split: '/' %}
{% assign path_slug = paths[2] %}
{% for p in site.paths %}
  {% if p.slug == path_slug %}
    {% assign path = p %}
  {% endif %}
{% endfor %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-2 mb-0">
    <li class="breadcrumb-item"><a href="{{ path.url }}">{{ path.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>

{% assign currentResource = paths[3] | remove: ".html" %}

{% for part in path.structure %}
    {% for resource in part.resources %}
        {% if getNext == true %}
            {% assign getNext = false %}
            {% assign nextName = resource %}
        {% endif %}
        {% if resource == currentResource %}
            {% assign getNext = true %}
            {% assign prevName = lastResource %}
        {% endif %}
        {% assign lastResource = resource %}
    {% endfor %}
{% endfor %}

{% if nextName %}
    {% for r in site.resources %}
        {% if r.slug == nextName %}
            {% assign next = r %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if prevName %}
    {% for r in site.resources %}
        {% if r.slug == prevName %}
            {% assign prev = r %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row ml-0 mb-5 mt-2">
    <h1 class="w-100">{{ page.type | replace: "activity", "Activité" }}: {{ page.title }}</h1>
    <div class="ml-0 w-100">
        <span class="badge bg-primary">{{ page.outil }}</span>
        {% if page.type == "activity" %}
            <span class="badge bg-primary ml-2">{{ page.activitytype }}</span>
        {% endif %}
    </div>
</div>
<div class="row mb-5 justify-content-md-between">
    <div class="col-md-8">

        {% if page.type == "activity" %}
            
            <h2>Objectifs</h2>
            <ul>
                {% for objectif in page.objectifs %}
                    <li>{{ objectif }}</li>
                {% endfor %}
            </ul>

            <h2>Matériel nécessaire</h2>
            <ul>
                {% for n in page.needed %}
                    <li>{{ n }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        {{ content }}
        <div class="mb-5 mb-md-0 justify-content-center justify-content-md-between d-flex flex-wrap w-100">
            {% if prev %}
                <a href="{{ prev.url }}" class="justify-content-center mb-2 px-2 px-md-0 ">
                    <button type="button" class="btn btn-primary">
                        <p class="m-0 fw-bold">Cours précédent</p>
                        <p class="m-0">{{ prev.title }}</p>
                    </button>
                </a>
            {% endif %}
            {% if next %}
                <a href="{{ next.url }}" class="justify-content-center px-2 px-md-0">
                    <button type="button" class="btn btn-primary">
                        <p class=" m-0 fw-bold">Cours suivant</p>
                        <p class="m-0">{{ next.title }}</p>
                    </button>
                </a>
            {% endif %}

        </div>
    </div>
        
    <div class="col-md-4 col-lg-3">
        <div class="w-100 d-none d-md-block mb-5">
            <ul class="list-group">
                <li class="list-group-item active">Informations utiles :</li>
                <li class="list-group-item">Outil utilisé : <span>Scratch</span></li>
                <li class="list-group-item">Age minimum : <span>8 ans </span></li>
                <li class="list-group-item">Durée : <span>1h +</span></li>
              </ul>
        </div>
        {% if next %}
            <div class="mb-5 w-100">
                <div class="mb-3 d-flex flex-wrap">
                    <h4 class="mb-1">Cours suivant</h4>
                    <span class="badge badge-primary ml-2 d-flex align-self-center">{{ next.outil }}</span>
                </div>
                <div class="">
                    <div class="card w-100 mb-3">
                        <a href="{{ next.url }}" class="w-100"><img class="card-img-top" src="{{ next.preview }}" alt="Card image cap"></a>
                        <div class="card-body">
                            <a href="{{ next.url }}" class="w-100">{{ next.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <h4 class="mb-4">Les autres cours liés à {{ page.outil }}</h4>

        {% for r in site.resources %}
            {% if r.outil == page.outil %}
                <!-- <div class="mb-3">
                    <a href="{{ r.url }}" class="w-100"><img class="w-100" src="{{ r.preview }}" alt=""></a>
                    <a href="{{ r.url }}" class="w-100">{{ r.title }}</a>
                </div> -->
                <div class="card w-100 mb-3">
                    <a href="{{ r.url }}" class="w-100"><img class="card-img-top" src="{{ r.preview }}" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="{{ r.url }}" class="w-100">{{ r.title }}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}


        <a href="" class="w-100"><button type="button" class="btn btn-primary">Accéder au catalogue</button></a>
    </div>
    <div id="bgNoir"></div>
    <button type="button" class="btn btn-primary d-flex" id="btnSommaire">
        <svg xmlns="http://www.w3.org/2000/svg" id="openSommaire" width="16" height="16" fill="white" class="bi bi-arrow-down-left-square align-self-center mr-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" id="closeSommaire" width="16" height="16" fill="white" class="bi bi-x-square align-self-center mr-1" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <p class="mb-0 ml-2">Voir le parcours</p>
    </button>
    <div id="ContainerSommaire">
        <h4 class="px-2 my-4">Découvrir la programmation créative</h4>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-left text-dark font-weight-bold text-decoration-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Partie 1 - 3, 2, 1... Programmez !
                    </button>
                </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ol type = "1">
                        <li>Qu'est-ce que la pensée informatique ?
                            <br />
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="14" height="14" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg>
                            Introduction : qu'est-ce que la pensée informatique ?
                        </li>
                        <li>Prenez Scratch en main
                            <br />
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="14" height="14" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg>
                            Créez un compte sur Scratch
                            <br />
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="14" height="14" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg>
                            Découvrez l'interface de Scratch
                        </li>
                        <li>Programmez votre portrait
                            <br />
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="14" height="14" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg>
                            Contrôlez le chat et utilisez des boucles
                        </li>
                        <li>Partagez votre programme
                            <br />
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="14" height="14" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg>
                            Sauvegarde et partagez votre programme
                            <br />
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;" width="14" height="14" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                            </svg>
                            Retrouvez les programmes Scratch dans un studio
                        </li>
                        <li>Qui a inventé les algorithmes ?</li>
                        <li>Comprenez les algorithmes avec le jeu du robot</li>
                        <li>Qui a inventé les langages informatiques ?</li>
                        <li>Comprenez les langages en jouant au robot</li>
                        <li>Transmettez grâce à la pédagogie active</li>
                        <li>Entraînez-vous en codant votre portrait avec Scratch</li>
                        </ol>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-left text-dark font-weight-bold text-decoration-none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Partie 2 - Rendez votre programme interactif.
                    </button>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-left text-dark font-weight-bold text-decoration-none" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Partie 3 - Créer un jeu avec tous les ingrédients des algorithmes. 
                    </button>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-left text-dark font-weight-bold text-decoration-none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        Partie 4 - Trouver l’algorithme le plus efficace.
                    </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/boutonSommaire.js"></script>
</div>