---
layout: default
---
<header style="background-color:#EFEFEF;">
    <div class="container">
        <div class="row align-items-center my-4 py-4">
            <div class="col-md-8">
                {% include breadcrumbs.html %}
                <h1>{{ page.title }}</h1>
                <div class="bottom">
                    <span><b>Professeurs: </b>
                        {% for author in page.authors %}
                            {{ author }}, 
                        {% endfor %}
                    </span>

                </div>
            </div>
            <div class="col-md-4 text-right">
                <a href="{{ page.openclassroom }}" class="btn btn-primary mb-2">Disponible sur OPENCLASSROOM</a>
                <span>{{ page.time }} / {{ page.level }}</span>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h2>Objectifs</h2>
    <ul class="objectifs">
        {% for objectif in page.objectifs %}
            <li>{{ objectif }}</li>
        {% endfor %}
    </ul>


    {% capture arbo %}
        {% toc decouvrir-la-programmation-creative %}
    {% endcapture %}
    {{ arbo }}



</div>